* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

h1 {
    font-size: 56px;
    color: #75B79E;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

main {
    margin: 0 5%;
}

img {
    width: 90%;
}

time {
    position: absolute;
    background-color: aliceblue;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 7px;
    line-height: 1.4;
    color: #178f61;
    background-color: #ebebeb;
    border: 3px solid #75B79E;
    right: 20px;
    top: 20px;
    padding: 20px;
}

dialog {
    position: absolute;
    top: 20%;
    margin-top: 25px;
    max-width: 600px;
    min-width: 350px;
    border: 3px solid #178f61;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 3px #178f61;
    text-align: center;
}

select, button, input {
    font-size: 30px;
    margin: 10px 20px;
}

menu {
    display: flex;
    flex-direction: column;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
    cursor: pointer;
    margin: 25px 25px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.vira-um {
    transform: rotateY(-180deg);
}

.vira-dois {
    transform: rotateY(0deg);
}

.resultado {
    font-size: 26px;
    text-shadow: none;
}

#final button {
    margin-top: 40px;
}

table {
    font-size: 16px;
    text-shadow: none;
}

table td {
    border: 1px solid black;
    padding: 5px 10px;
}

@media (max-width: 700px)
{
  header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  time {
      position: relative;
      top: 0;
      right: 0;
  }

  select, button, input {
    font-size: 15px;
  }
}