body {
    background-color: #EEF9BF;
}

h1 {
    font-size: 56px;
    color: #75B79E;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

main {
    margin: 0 100px;   
}

img {
    width: 90%;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
    cursor: pointer;
    margin: 25px 25px;
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.vira-um {
    transform: rotateY(-180deg);
}

.vira-dois {
    transform: rotateY(0deg);
}